// Place all the styles related to the RentalProperties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#money{
    text-align: right;
}

#dist{
    text-align: right;
}

.head{
    font-size: 18px
}

#top{
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: Crimson
}
