=javascript_include_tag 'second_forms'

%h2 After school Registration

=form_for @child, :method => :post, :url => parent_children_path do |c|

  .field
    =c.label :program, "Program"
    =c.select :program, options_for_select([["Select a Program", "Select a Program"], ["10 Month", "10 Month"], ["Summer", "Summer"]])

  #month
    %h3 10 Month Program
    %p Days and Times
    .field
      =c.radio_button :m2, :value => true
      =c.label :m2, "Monday 2:30 PM - 4:30 PM", :value=> true
    .field
      =c.radio_button :m2, :value => false
      =c.label :m2, "Monday 2:30 PM - 5:30 PM", :value=> false
    .field
      =c.radio_button :t2, :value => true
      =c.label :t2, "Tuesday 2:30 PM - 4:30 PM", :value=> true
    .field
      =c.radio_button :t2, :value => false
      =c.label :t2, "Tuesday 2:30 PM - 5:30 PM", :value=> false
    .field
      =c.radio_button :w2, :value => true
      =c.label :w2, "Wednesday 2:30 PM - 4:30 PM", :value=> true
    .field
      =c.radio_button :w2, :value => false
      =c.label :w2, "Wednesday 2:30 PM - 5:30 PM", :value=> false
    .field
      =c.radio_button :r2, :value => true
      =c.label :r2, "Thursday 2:30 PM - 4:30 PM", :value=> true
    .field
      =c.radio_button :r2, :value => false
      =c.label :r2, "Thursday 2:30 PM - 5:30 PM", :value=> false
    .field
      =c.radio_button :f2, :value => true
      =c.label :f2, "Friday 2:30 PM - 4:30 PM", :value=> true
    .field
      =c.radio_button :f2, :value => false
      =c.label :f2, "Friday 2:30 PM - 5:30 PM", :value=> false

  #summer
    =render 'summer_template', form: c
    .field
      =c.label :attending_rec, "Is your child attending the Hamilton Summer Rec Program?"
      =c.check_box :attending_rec

  -# =c.submit
