=javascript_include_tag 'forms'

%h2 Post HCS Pre-K Registration

=form_for @child, :method => :post, :url => parent_children_path do |c|
  %p Hours will be 11:30 AM - 5:30 PM
  .field
    =c.radio_button :week, 5
    =c.label :week, "M, T, W, Th, F (5 days)", :value=> 5
  .field
    =c.radio_button :week, 3
    =c.label :week, "M, W, F (3 days)", :value=> 3
  .field
    =c.radio_button :week, 2
    =c.label :week, "T, Th (2 days)", :value=> 2

  -# =c.submit
