=javascript_include_tag 'forms'

%h2 Post HCS Pre-K Registration

%p Hours will be 11:30 AM - 5:30 PM
%p Children will be picked up at HCS at 11:30 AM by a CNS employee and brought to our program.
%p Based on enrollment numbers a determination will be made as to availability for children on HCS snow/vacation days at CNS. 
.field
  =form.radio_button :week, 5
  =form.label :week, "M, T, W, Th, F (5 days)", :value=> 5
.field
  =form.radio_button :week, 3
  =form.label :week, "M, W, F (3 days)", :value=> 3
.field
  =form.radio_button :week, 2
  =form.label :week, "T, Th (2 days)", :value=> 2
