#main

%h3.header Registration

=form_for Child.new do |f|
  .field
    =f.label :name "Child's Name"
    =f.text_field :name

    =f.label :dob "Date of Birth"
    =f.date_field
  .field
    =f.label :address "Address"
    =f.text_field :address

    =f.label :phone "Phone"
    =f.telephone

    =f.label :cell "Cell"
    =f.telephone

    =f.label :email "Email"
    =f.email_field :email_field

    =f.label :email2 "Second Email"
    =f.email_field :email_field
  .field
    =f.label :program "Program Enrollment"
    =f.select options={"10 Month", "Summer"}

    =f.label :child_age "Child Class"
    =f.select options={"Infant", "Early Childhood", "Post HCS Pre-K", "HCS After-school"}

    %p 10 Month Program Days
    =f.label :monday :tuesday :wednesday :thursday :friday "5 Day"
    =f.check_box :monday :tuesday :wednesday :thursday :friday

    =f.label :monday :wednesday :firday "3 Day"
    =f.check_box :monday :wednesday :friday

    =f.label :tuesday :thursday "2 Day"
    =f.check_box :tuesday :thursday

    %p Full Day:    7:30 AM -  5:30 PM
    %p Half Day:    7:30 AM - 12:30 PM  or  12:30 PM - 5:30 PM
    %p Post Pre-K:  11:30 AM - 5:30 PM
    =f.label :time "Day Length"
    =f.select options={"Full Day", "Half Day Morning", "Half Day Afternoon", "Post HCS Pre-K"}

    %p After School
    =f.label :monday "Monday"
    =f.check_box :monday

    =f.label :tuesday "Tuesday"
    =f.check_box :tuesday

    =f.label :wednesday "Wednesday"
    =f.check_box :wednesday

    =f.label :thursday "Thursday"
    =f.check_box :thursday

    =f.label :friday "Friday"
    =f.check_box :friday
    %br
    %p Summer Program
    =f.label :week1 "Week 1"
    =f.check_box :week1

    =f.label :week2 "Week 2"
    =f.check_box :week2

    =f.label :week3 "Week 3"
    =f.check_box :week3

    =f.label :week4 "Week 4"
    =f.check_box :week4

    =f.label :week5 "Week 5"
    =f.check_box :week5

    =f.label :week6 "Week 6"
    =f.check_box :week6

    =f.label :week7 "Week 7"
    =f.check_box :week7

    =f.label :week8 "Week 8"
    =f.check_box :week8

    %p Only for HCS students
    =f.label :attending_rec_program "Will your child be attending the Hamilton Summer Rec Program?"
    =f.check_box :attending_rec_program
  %br
  =f.label :comments "Additional Information"
  =f.text_area :comments

  =f.label :signature
  =f.text_field

  =f.submit
