%p Weekly Options
.field
  =form.check_box :week1
  =form.label :week1, "Week 1"
.field
  =form.check_box :week2
  =form.label :week2, "Week 2"
.field
  =form.check_box :week3
  =form.label :week3, "Week 3"
.field
  =form.check_box :week4
  =form.label :week4, "Week 4"
.field
  =form.check_box :week5
  =form.label :week5, "Week 5"
.field
  =form.check_box :week6
  =form.label :week6, "Week 6"
.field
  =form.check_box :week7
  =form.label :week7, "Week 7"
.field
  =form.check_box :week8
  =form.label :week8, "Week 8"

=render 'yearly_template', form: form
