%h3 Summer Program

=form_for @child, :method => :post, :url => parent_children_path do |c|

  =render 'yearly_template', form: c
  %p
  .field
    =c.label :w1, "Week 1"
    =c.check_box :w1
  .field
    =c.label :w2, "Week 2"
    =c.check_box :w2
  .field
    =c.label :w3, "Week 3"
    =c.check_box :w3
  .field
    =c.label :w4, "Week 4"
    =c.check_box :w4
  .field
    =c.label :w5, "Week 5"
    =c.check_box :w5
  .field
    =c.label :w6, "Week 6"
    =c.check_box :w6
  .field
    =c.label :w7, "Week 7"
    =c.check_box :w7
  .field
    =c.label :w8, "Week 8"
    =c.check_box :w8

  -# =c.submit
