=javascript_include_tag 'forms'

#register

  %h1.header Registration

  =form_for [@parent, @child], :method => :put, :url => parent_child_path(@child) do |c|
    .field
      =c.label :firstname, "Child's First Name"
      =c.text_field :firstname

    .field
      =c.label :lastname, "Child's Last Name"
      =c.text_field :lastname

    .field
      =c.label :dob, "Date of Birth"
      =c.date_field :dob, :value => @child.dob

      // LOOK AT OPTIONS SYNTAX
    .field
      =c.label :status, "Child Status"
      =c.select :status, options_for_select(["Select a Program", "Infant", "Early Childhood", "Post HCS Pre-K", "HCS After-school"], c.object.status)

    .field
      =c.label :program, "Child Program"
      =c.select :program, options_for_select(["Select a Program", "10 Month", "Summer"], c.object.program)

    #infant
      %h2 Infant 10 Month Program
      =render 'yearly_template', form: c
      .field
        =c.radio_button :time, "12:30 PM - 5:30 PM"
        =c.label :time, "Half Day:  12:30 PM -  5:30 PM", :value=> "12:30 PM - 5:30 PM"

    #infant_summer
      %h2 Infant Summer Program
      =render 'summer_template', form: c
      .field
        =c.radio_button :time, "12:30 PM - 5:30 PM"
        =c.label :time, "Half Day:  12:30 PM -  5:30 PM", :value=> "12:30 PM - 5:30 PM"

    #early_childhood
      %h2 Early Childhood 10 Month Program
      =render 'yearly_template', form: c

    #early_childhood_summer
      %h2 Early Childhood Summer Program
      =render 'summer_template', form: c

    #post_pre-k
      =render 'post_pre-k', form: c

    #afterschool
      =render 'afterschool', form: c
      %p Note: Children must be registered for at least 2 days per week and for at least 2 hours per day.
      %p This program is only available for children in grades K - 3.


    #afterschool_summer
      %h2 After school Summer Registration
      =render 'summer_template', form: c
      %br
      .field
        =c.check_box :attending_rec
        =c.label :attending_rec, "Will be attending the Hamilton Summer Rec Program?"
    %br
    .field
      =c.label :comments, "Additional Information"
      %br
      =c.text_area :comments

    -# .field
    -#   =c.label :signature, "Signature"
    -#   =c.text_field :signature

    .field
      =c.submit "Register"

    %br
    =link_to("Back to Child Info", parent_child_path(@child), :class => 'btn btn-default')
