#main

  %h3.header Registration

  =form_for @child, :method => :post, :url => parent_children_path do |c|
    .field
      =c.label :name, "Child's Name"
      =c.text_field :name

    .field
      =c.label :dob, "Date of Birth"
      =c.date_field :dob

    .field
      =c.label :status, "Child Program"
      =c.select :status, options_for_select([["Infant", "Infant"], ["Early Childhood", "Early Childhood"], ["Post HCS Pre-K", "Post HCS Pre-K"], ["HCS After-school", "HCS After-school"]])

    - if (:status == "Infant")
      =render 'infant', form: c

    =render 'yearly_template', form: c

    -# .field
    -#   =c.label :address, "Address"
    -#   =c.text_field :address

    -# .field
    -#   =c.label :phone, "Phone"
    -#   =f.telephone
    -#
    -# .field
    -#   =c.label :cell, "Cell"
    -#   =c.telephone
    -#
    -# .field
    -#   =c.label :email, "Email"
    -#   =c.email_field :email_field
    -#
    -# .field
    -#   =c.label :email2, "Second Email"
    -#   =c.email_field :email_field

    -# .field
    -#   =c.label :program, "Program Enrollment"
    -#   =c.select options_for_select([["10 Month", 1], ["Summer", 2]])
    -#

    .field
      =c.label :comments, "Additional Information"
      =c.text_area :comments

    -# .field
    -#   =c.label :signature, "Signature"
    -#   =c.text_field :signature

    .field
      =c.submit "Register"
