<h3>Welcome to the CNS Registration Portal</h3>
<p>New parent? Click <%= link_to 'here', new_parent_path %> to register!</p>
<p>Already registered? Click <%= link_to 'here', '/users/sign_in' %> to sign in! </p>
