%h3 Welcome to the CNS Registration Portal
%p New parent? Click
=link_to 'here', new_parent_path
 to register!

 %p Already registered? Sign in
 =link_to 'here', #/users/sign_in
  -# = link_to 'Users:', users_path
  -# = User.count
  -# registered
