- content_for :title do
  About
%h3 About the Website
%p
  This is the registration portal for the Chenango Nursery School, developed by students at Colgate University. For more info about Chenango Nursery School, click
  = link_to('here.', 'http://chenangonurseryschool.org/')
