- content_for :title do
  About
%h3 About the Website
%p
  This web application was created by Zach, Mike, Sam, Laura, Zoila, and Leslie. For more info about Chenango Nursery School, click
  = link_to('here.', 'http://chenangonurseryschool.org/')
