- content_for :title do
  Contact Info
#contact
  %h3 Contact Info
  %p Director: Sarah Chesebro
  %p 59 West Kendrick Ave
  %p Hamilton, NY 13346
  %br
  %p Phone: (315) 824-1810, ext. 1
  %p Fax: (315) 824-8258
