%h1 All Parents

-if flash[:notice]
    %h3= "#{flash[:notice]}"

%table
    %tr
        %th name
    %th= link_to("#{@parent.name}", parent_path(x))

-if user_signed_in? && @parent.nil?
    =link_to("Enter parent information here", new_parent_path)
